<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis at cum
    repellendus placeat distinctio culpa nesciunt, odio quas ea perspiciatis
    vitae, autem minima animi, neque omnis dolores non modi rerum?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus
    voluptas id placeat, necessitatibus suscipit. Numquam repudiandae minima
    unde, amet facere hic modi quisquam neque! Pariatur, architecto quibusdam
    quidem placeat consectetur explicabo, eius optio labore odio, consequuntur
    minus nisi nostrum eum repellat itaque necessitatibus eos. Architecto soluta
    cupiditate delectus ipsam in cum, labore laboriosam sint ipsum quisquam
    laudantium assumenda totam voluptas possimus impedit tempora, quaerat magnam
    aspernatur veritatis necessitatibus praesentium odit laborum? Eum
    repudiandae omnis illo. Asperiores suscipit eos laborum quam accusantium
    iure ipsum delectus consequuntur, unde quisquam. Recusandae sunt perferendis
    deleniti. Illum, quia deleniti! Eum iusto reiciendis sapiente impedit.
  </p>
</main>
